<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.DB_ClinicaConnectionString"
            connectionString="Data Source=instructorl1\MSSQLSERVER02;Initial Catalog=DB_Clinica;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.DB_ClinicaConnectionString1"
            connectionString="Data Source=DESKTOP-HIIITJJ;Initial Catalog=DB_Clinica;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaPresentacion.Properties.Settings.DB_ClinicaConnectionString2"
            connectionString="Data Source=DESKTOP-K2P8QJN;Initial Catalog=DB_Clinica;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>